<%- include('header') -%>

<form action="/qcms/newqcm" method="POST">
    <p>Ajouter un QCM :</p>
    <div>
        <label for="name">Nom du QCM</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="theme">Thème</label>
        <input type="text" id="theme" name="theme">
    </div>
    <div>
        <label for="nb_points">Nombre de points</label>
        <input type="text" id="nb_points" name="nb_points">
    </div>

    <!-- Boucle pour les questions -->
    <% for (let i = 1; i <= 4; i++) { %>
        <div class="question<%= i %>">
            <div>
                <label for="question<%= i %>">Question <%= i %> :</label>
                <input type="text" id="question<%= i %>" name="questions[<%= i %>][title]">
            </div>
            <div class="reponses">
                <!-- Boucle pour les réponses -->
                <% for (let j = 1; j <= 4; j++) { %>
                    <div>
                        <label for="answer<%= i %>_<%= j %>">Réponse <%= j %> :</label>
                        <input type="text" id="answer<%= i %>_<%= j %>" name="questions[<%= i %>][answers][<%= j %>][title]">
                        <input type="checkbox" id="checkbox<%= i %>_<%= j %>" name="questions[<%= i %>][answers][<%= j %>][correct_answer]">
                    </div>
                <% } %>
            </div>
        </div>
    <% } %>

    <input type="submit" value="Create">
</form>

<%- include('footer') -%>
