<%- include('header') -%>
    
    <body>
        <p>Mes QCMS disponibles</p>
        <ul>
            <% for (let qcm of qcms) { %>
            <li>QCM <%= qcm.id %> - <%= qcm.name %> (Thème : <%= qcm.theme %>) - Noté sur <%= qcm.nb_points %> points</li>
            <% } %>
        </ul>
    </body>

<%- include('footer') -%>